.grid {grid-template-columns: repeat(5, 100px);}
@media(max-width:810px){
    .grid {grid-template-columns: repeat(4, 100px);}
    .grid>div:nth-child(9) {
        grid-column:2;
    }
    .grid>div:nth-child(10) {
        grid-column:3;
    }
}
@media(max-width:620px){
    .grid {grid-template-columns: repeat(3, 100px);}
}
@media(max-width:435px){
    .grid {grid-template-columns: repeat(2, 100px);}
}